@layer utilities {
    .bg-noise {
        background-image: url("assets/images/download.png");
    }
    .text-gradient {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        /* background-image: linear-gradient(90deg, #00f0ff, #ff7a00, #00f0ff); */
        background-image: linear-gradient(90deg, hsl(0, 0%, 0%), #000000, #000000);
    }
}
